<article class="choose-language app-js__choose-language">
    <div class="choose-language__headingLogo">
        {{> picture
            isLazyLoad = false
            desktopSrc = tiffanyLogo
            mobileSrc  = tiffanyMobileLogo
            altText    = tiffanyLogoAltText
        }}
    </div>
    <div class="choose-language__languges">
        <p class="choose-language__languges_title">{{title}}</p>
        <p class="line">&nbsp;</p>
        <ul class="choose-language__languges_list">
            {{#each languages}}
                <li class="choose-language__languges_list-item">
                    <button type="button" class="item cta" data-language={{language}} data-url={{url}}>{{country}}</button>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="choose-language__disclaimer">
        <p class="choose-language__disclaimer-text">{{copyRight}}</p>
    </div>
</article>
