<article class="free_shipping_returns app-js__free_shipping_returns hide">
    <div class="row-container">

        <div class="tf-g">
            <div class="col-left tf-g__no-grow">
                <h5>{{section-heading-1}}</h5>
                <p>{{section-description-1}}</p>
            </div>
        </div>

        <div class="tf-g">
            <div class="col-left">
                <h5>{{section-heading-2}}</h5>
                <p>{{{section-description-2}}}</p>
            </div>

            <div class="col-right">
                <h5>{{section-heading-3}}</h5>
                <p>{{{section-description-3}}}</p>
            </div>
        </div>

        <div class="tf-g">
            <div class="col-left">
                <h5>{{section-heading-4}}</h5>
                <p>{{{section-description-4}}}</p>
            </div>
            <div class="col-right">
                <h5 class="false-heading">&nbsp;</h5>
                <p>{{{section-description-5}}}</p>
            </div>
        </div>

        <button type="button" class="show-more">{{btntext2}}
            <span class="icon-dropdown-up"></span>
        </button>
    </div>
</article>
