<div class="site-index__container-content
    {{#if fiveColumns}}container20x20{{/if}}
    {{#if fourColumns}}container25x25{{/if}}
    {{#if threeColumns}}container33x33{{/if}}
    {{#if twoColumns}}container50x50{{/if}}
    {{#if twentyEightyColumns}}container20x80{{/if}}">
    {{#each subitems}}
    <div class="site-index__container-content-section">
        {{#if imageSrc}}
        <div class="imagewithtitlecta">
            <a href="#" tabindex="0" target="{{imageCtaTarget}}">
                {{> picture
                isLazyLoad = true
                desktopSrc = imageSrc
                mobileSrc = imageMobSrc
                altText = imageAlt
                }}
            </a>
            <a class="cta" href="#" tabindex="0" target="{{imageCtaTarget}}">
                <span class="cta-content">
                    <span class="cta-text">{{imageCtaText}}</span><span class="icon-Right"></span>
                </span>
            </a>
        </div>
        {{else}}
            {{#each list}}
                <div class="site-index__container-content-subsection">
                    <div class="headingwithlinks">
                        <div class="site-index__container-section">
                            <div class="site-index__container-content-subsection">
                                <h3 class="h3">{{listHeading}}</h3>
                                <ul>
                                    {{#each listItems}}
                                        <li class="site-index__container-content-list">
                                            <a href="{{url}}" class="site-index__container-content-link cta" target="{{target}}">
                                                {{text}}
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    {{/each}}
</div>