---
title: Home Page
type: page
layout: base
description: Landing Page for App
sortOrder: 0
---

<div class="wrapper byo-landing-page">
    {{> error-banner}}
    {{> sticky-nav sticky-nav}}

    <div class="hero-banner container with-splash-image" data-aos="fade-up" >
        {{#if byo-landing-page.heroBanner.isForeGroundImage}}
            <div class="foreground-image {{#if byo-landing-page.heroBanner.isTransperantForeground}}blend-mode{{/if}}" data-pos-left="{{byo-landing-page.heroBanner.foreGroundImgDesktopLeftPos}}" data-pos-top="{{byo-landing-page.heroBanner.foreGroundImgDesktopTopPos}}" data-mobile-pos-left="{{byo-landing-page.heroBanner.foreGroundImgMobileLeftPos}}" data-mobile-pos-top="{{byo-landing-page.heroBanner.foreGroundImgMobileTopPos}}">
                {{> picture
                    desktopSrc = byo-landing-page.heroBanner.foreGroundImgSrc
                    mobileSrc  = byo-landing-page.heroBanner.foreGroundmobileSrc
                }}
            </div>
        {{/if}}

        {{> text-with-image
            byo-landing-page.heroBanner
        }}
    </div>

    <div id="new-designs" class="container-centered" tabindex="0" data-aos="fade-up" >
        <div class="hero-banner hero-banner-with-grid
            {{#is landing-page.banner2.largePadding true}}padding-bottom-56 {{/is}}
            {{#is landing-page.banner2.mediumPadding true}}padding-bottom-16 {{/is}}
            {{#is landing-page.banner2.smallPadding true}}no-padding-bottom {{/is}}
            {{#is landing-page.banner2.largeMobilePadding true}}mobile-padding-bottom-56 {{/is}}
            {{#is landing-page.banner2.mediumMobilePadding true}}mobile-padding-bottom-16 {{/is}}
            {{#is landing-page.banner2.smallMobilePadding true}}mobile-no-padding-bottom {{/is}} "
            >
            {{> text-with-image
            landing-page.banner2
        }}
        </div>
        <tiffany-marketing-product-tiles-carousel config="{{landing-page.marketingProductTilesCarouselKey}}" type="{{landing-page.categoryType}}"></tiffany-marketing-product-tiles-carousel>
    </div>

    <div id="tiffany-hardware" class="container" tabindex="0" data-aos="fade-up" >
        {{> text-with-image
            landing-page.variation1
        }}
    </div>

    <div id="tifanny-t" class="fifty-fifty-component container--2 content-band--2" tabindex="0" data-aos="fade-up" >
    {{#each landing-page.fifty-fifty-component.images}}
        <div class = "band-item {{#if largePadding}}padding-bottom-56 {{/if}} {{#if mediumPadding}}padding-bottom-16 {{/if}} {{#if smallPadding}}no-padding-bottom {{/if}} " {{#is @index "1"}}data-aos-delay="500"{{/is}} data-aos="fade-up" >
            {{> text-with-image
                this
            }}

        </div>
    {{/each}}
    </div>

    <tiffany-product-carousel config="{{landing-page.homeCarouselKey}}" type="{{landing-page.skuType}}" parallax="true"></tiffany-product-carousel>

    <div  id="return" class="container--2 content-band--40x60 content-with-image text-inset text-inset-bg padding-bottom-16
        {{#if landing-page.variation3.textInset}} text-inset{{/if}}
        {{#if landing-page.variation3.textInsetMobile}} text-inset-mobile{{/if}}
        {{#if landing-page.variation3.textInsetBg}} text-inset-bg{{/if}}
        {{#if landing-page.variation3.paddingClass}} {{landing-page.variation3.paddingClass}}{{/if}}" tabindex="0"
        data-aos="fade-up" >
        <div class="band-item content" >
            {{> content-tile
                textAlignment = landing-page.variation3.textAlignment
                heading       = landing-page.variation3.heading
                description   = landing-page.variation3.description
                ctaLink       = landing-page.variation3.ctaLink
                ctaTarget     = landing-page.variation3.ctaTarget
                ctaText       = landing-page.variation3.ctaText
            }}
        </div>
        <div class="band-item image">
            {{> picture
                isLazyLoad = true
                desktopSrc = landing-page.variation3.imageSrc
                mobileSrc  = landing-page.variation3.imageSrc
                altText    = landing-page.variation3.imageAlt
            }}
        </div>
    </div>

    <div  id="everyday" class="container--2 content-band--60x40 content-with-image text-inset-mobile
        {{#if landing-page.variation3.textInset}} text-inset{{/if}}
        {{#if landing-page.variation3.textInsetMobile}} text-inset-mobile{{/if}}
        {{#if landing-page.variation3.textInsetBg}} text-inset-bg{{/if}}
        {{#if landing-page.variation3.paddingClass}} {{landing-page.variation3.paddingClass}}{{/if}}" tabindex="0"
        data-aos="fade-up" >
        <div class="band-item image">
            <a href="#CtaLink1" class="picture_cta">
                {{> picture
                    isLazyLoad = true
                    desktopSrc = landing-page.variation3.imageSrc
                    mobileSrc  = landing-page.variation3.imageSrc
                    altText    = landing-page.variation3.imageAlt
                }}
            </a>
        </div>
        <div class="band-item content">
            {{> content-tile
                textAlignment = landing-page.variation3.textAlignment
                heading       = landing-page.variation3.heading
                description   = landing-page.variation3.description
                ctaLink       = landing-page.variation3.ctaLink
                ctaTarget     = landing-page.variation3.ctaTarget
                ctaText       = landing-page.variation3.ctaText
            }}
        </div>
    </div>

    <!-- <div id="editorial" class="container--2 content-band--40x60 content-with-image">
        {{> editorial-carousel}}
    </div> -->

    <div class="container" data-aos="fade-up" >
        {{> video video = landing-page.youtubeVideo }}
    </div>

    <!-- <div class="container" data-aos="fade-up" >
        {{> video video = landing-page.customVideo }}
    </div> -->

    <div class="container" data-aos="fade-up" >
        {{> video video = landing-page.customVideoAutoPlay }}
    </div>

    <div id="old-designs" class="container-centered" tabindex="0" data-aos="fade" >
        <div class="hero-banner hero-banner-with-grid
            {{#is landing-page.banner2.largePadding true}}padding-bottom-56 {{/is}}
            {{#is landing-page.banner2.mediumPadding true}}padding-bottom-16 {{/is}}
            {{#is landing-page.banner2.smallPadding true}}no-padding-bottom {{/is}}
            {{#is landing-page.banner2.largeMobilePadding true}}mobile-padding-bottom-56 {{/is}}
            {{#is landing-page.banner2.mediumMobilePadding true}}mobile-padding-bottom-16 {{/is}}
            {{#is landing-page.banner2.smallMobilePadding true}}mobile-no-padding-bottom {{/is}} "
            >
            {{> text-with-image
            landing-page.banner2
        }}
        </div>
        <tiffany-marketing-product-tiles-carousel config="{{landing-page.marketingProductTilesCarouselKey}}" type="{{landing-page.skuType}}"></tiffany-marketing-product-tiles-carousel>
    </div>

    <div id="tiffany-software" class="container" tabindex="0" data-aos="fade-up" >
        {{> text-with-image
            landing-page.variation1
        }}
    </div>

    <div id="tifanny-b" class="fifty-fifty-component container--2 content-band--2" tabindex="0" data-aos="fade-up" >
        {{#each landing-page.fifty-fifty-component.images}}
            <div class = "band-item {{#if largePadding}}padding-bottom-56 {{/if}} {{#if mediumPadding}}padding-bottom-16 {{/if}} {{#if smallPadding}}no-padding-bottom {{/if}} " {{#is @index "1"}}data-aos-delay="500"{{/is}} data-aos="fade-up" >
                {{> text-with-image
                    this
                }}

            </div>
    {{/each}}
    </div>

    <div id="come" class="container--2 content-band--40x60 content-with-image text-inset text-inset-bg padding-bottom-16
        {{#if landing-page.variation3.textInset}} text-inset{{/if}}
        {{#if landing-page.variation3.textInsetMobile}} text-inset-mobile{{/if}}
        {{#if landing-page.variation3.textInsetBg}} text-inset-bg{{/if}}
        {{#if landing-page.variation3.paddingClass}} {{landing-page.variation3.paddingClass}}{{/if}}" tabindex="0"
        data-aos="fade-up" >
        <div class="band-item content" >
            {{> content-tile
                textAlignment = landing-page.variation3.textAlignment
                heading       = landing-page.variation3.heading
                description   = landing-page.variation3.description
                ctaLink       = landing-page.variation3.ctaLink
                ctaTarget     = landing-page.variation3.ctaTarget
                ctaText       = landing-page.variation3.ctaText
            }}
        </div>
        <div class="band-item image">
            {{> picture
                isLazyLoad = true
                desktopSrc = landing-page.variation3.imageSrc
                mobileSrc  = landing-page.variation3.imageSrc
                altText    = landing-page.variation3.imageAlt
            }}
        </div>
    </div>

    <div id="noteveryday" class="container--2 content-band--60x40 content-with-image text-inset-mobile
        {{#if landing-page.variation3.textInset}} text-inset{{/if}}
        {{#if landing-page.variation3.textInsetMobile}} text-inset-mobile{{/if}}
        {{#if landing-page.variation3.textInsetBg}} text-inset-bg{{/if}}
        {{#if landing-page.variation3.paddingClass}} {{landing-page.variation3.paddingClass}}{{/if}}" tabindex="0"
        data-aos="fade-up" >
        <div class="band-item image">
            <a href="#CtaLink1" class="picture_cta">
                {{> picture
                    isLazyLoad = true
                    desktopSrc = landing-page.variation3.imageSrc
                    mobileSrc  = landing-page.variation3.imageSrc
                    altText    = landing-page.variation3.imageAlt
                }}
            </a>
        </div>
        <div class="band-item content">
            {{> content-tile
                textAlignment = landing-page.variation3.textAlignment
                heading       = landing-page.variation3.heading
                description   = landing-page.variation3.description
                ctaLink       = landing-page.variation3.ctaLink
                ctaTarget     = landing-page.variation3.ctaTarget
                ctaText       = landing-page.variation3.ctaText
            }}
        </div>
    </div>


     <tiffany-popular-product-carousel config="popularProductConfig"></tiffany-popular-product-carousel>
</div>
