---
title: Parallax Page
type: page
layout: sample
description: Parallax Sample Page for App
sortOrder: 0
---
<!--
    Animations:
        1.Marketing Image and Separated Text
            data-bottom-top="transform: translateY(100%)"
            data-center="transform: translateY(0)"

        2.50/50 Component
            data-bottom-top="transform: translateY(100%); opacity: 0"
            data-center="transform: translateY(0); opacity: 1"

            data-bottom-top="transform: translateY(100%); opacity: 0"
            data-center-top="transform: translateY(0); opacity: 1"

        2.
            data-bottom-top="opacity:0; top:100%; position:absolute"
            data-100-bottom="position:relative;"
            data-center="opacity:1; top:0%; position:relative"


-->

<div class="wrapper byo-landing-page">

     <div class="hero-banner container with-splash-image">
        {{#if byo-landing-page.heroBanner.isForeGroundImage}}
            <div class="foreground-image {{#if byo-landing-page.heroBanner.isTransperantForeground}}blend-mode{{/if}}" data-pos-left="{{byo-landing-page.heroBanner.foreGroundImgDesktopLeftPos}}" data-pos-top="{{byo-landing-page.heroBanner.foreGroundImgDesktopTopPos}}" data-mobile-pos-left="{{byo-landing-page.heroBanner.foreGroundImgMobileLeftPos}}" data-mobile-pos-top="{{byo-landing-page.heroBanner.foreGroundImgMobileTopPos}}">
                {{> picture
                    desktopSrc = byo-landing-page.heroBanner.foreGroundImgSrc
                    mobileSrc  = byo-landing-page.heroBanner.foreGroundmobileSrc
                }}
            </div>
        {{/if}}

        {{> text-with-image
            byo-landing-page.heroBanner
        }}
    </div>

    <div data-bottom-top="transform: translateY(200px)"
        data-center="transform: translateY(0)" >
        <div id="return" class="container--2 content-band--40x60 content-with-image text-inset text-inset-bg padding-bottom-16
            {{#if landing-page.variation3.textInset}} text-inset{{/if}}
            {{#if landing-page.variation3.textInsetMobile}} text-inset-mobile{{/if}}
            {{#if landing-page.variation3.textInsetBg}} text-inset-bg{{/if}}
            {{#if landing-page.variation3.paddingClass}} {{landing-page.variation3.paddingClass}}{{/if}}" tabindex="0">
            <div class="band-item content">
                {{> content-tile
                    textAlignment = landing-page.variation3.textAlignment
                    heading       = landing-page.variation3.heading
                    description   = landing-page.variation3.description
                    ctaLink       = landing-page.variation3.ctaLink
                    ctaTarget     = landing-page.variation3.ctaTarget
                    ctaText       = landing-page.variation3.ctaText
                }}
            </div>
            <div class="band-item image">
                {{> picture
                    isLazyLoad = true
                    desktopSrc = landing-page.variation3.imageSrc
                    mobileSrc  = landing-page.variation3.imageSrc
                    altText    = landing-page.variation3.imageAlt
                }}
            </div>
        </div>
    </div>

    <div id="tifanny-t" class="fifty-fifty-component container--2 content-band--2" tabindex="0">
        <div
            class = "band-item"
            data-bottom-top="transform: translateY(200px); opacity: 0"
            data-center="transform: translateY(0); opacity: 1">
            <div class = "{{#if parallax.fifty-fifty-one.largePadding}}padding-bottom-56 {{/if}} {{#if parallax.fifty-fifty-one.mediumPadding}}padding-bottom-16 {{/if}} {{#if parallax.fifty-fifty-one.smallPadding}}no-padding-bottom {{/if}} ">
                {{> text-with-image
                    parallax.fifty-fifty-one
                }}
            </div>
        </div>
        <div
            class = "band-item"
            data-bottom-top="transform: translateY(200px); opacity: 0"
            data-center="transform: translateY(0); opacity: 1">
            <div class = "{{#if parallax.fifty-fifty-two.largePadding}}padding-bottom-56 {{/if}} {{#if parallax.fifty-fifty-two.mediumPadding}}padding-bottom-16 {{/if}} {{#if parallax.fifty-fifty-two.smallPadding}}no-padding-bottom {{/if}} ">
                {{> text-with-image
                    parallax.fifty-fifty-two
                }}
            </div>
        </div>
    </div>

    <div
        data-bottom-top="transform: translateY(200px); opacity: 0"
        data-center-top="transform: translateY(0); opacity: 1"
    >
        <div id="new-designs" class="container-centered" tabindex="0">
            <div class="hero-banner hero-banner-with-grid
                {{#is landing-page.banner2.largePadding true}}padding-bottom-56 {{/is}}
                {{#is landing-page.banner2.mediumPadding true}}padding-bottom-16 {{/is}}
                {{#is landing-page.banner2.smallPadding true}}no-padding-bottom {{/is}}
                {{#is landing-page.banner2.largeMobilePadding true}}mobile-padding-bottom-56 {{/is}}
                {{#is landing-page.banner2.mediumMobilePadding true}}mobile-padding-bottom-16 {{/is}}
                {{#is landing-page.banner2.smallMobilePadding true}}mobile-no-padding-bottom {{/is}} ">
                {{> text-with-image
                landing-page.banner2
            }}
            </div>
            <tiffany-marketing-product-tiles-carousel config="{{landing-page.marketingProductTilesCarouselKey}}" type="{{landing-page.categoryType}}"></tiffany-marketing-product-tiles-carousel>
        </div>
    </div>

    <div
        data-bottom-top="transform: translateY(200px); opacity: 0"
        data-center="transform: translateY(0); opacity: 1">
        <tiffany-product-carousel config="{{pdp.pdpCarouselKey}}" type="{{pdp.pdpCarouselType}}"></tiffany-product-carousel>
    </div>

    <div
        data-bottom-top="transform: translateY(200px); opacity: 0"
        data-center="transform: translateY(0); opacity: 1">
        <div class="container">
            {{> video video = landing-page.customVideo }}
        </div>
    </div>

    <div
        data-bottom-top="transform: translateY(200px); opacity: 0"
        data-center="transform: translateY(0); opacity: 1">
        {{> hero-component
            hero-components-variations.heroBanner
        }}
    </div>

    <div
        data-bottom-top="transform: translateY(200px); opacity: 0"
        data-center="transform: translateY(0); opacity: 1">
        <tiffany-three-tile-carousel config="threeTileVariation1"></tiffany-three-tile-carousel>
    </div>


    <div
        data-bottom-top="transform: translateY(200px); opacity: 0"
        data-center="transform: translateY(0); opacity: 1"
    >
        <div class="container container--2">
            <div
                class="overarching-content"
                >
                <div class="overarching-item">
                    {{#if byo-landing-page.2x1_responsive-component.overarching-content}}
                        {{> content-tile
                            textAlignment = byo-landing-page.2x1_responsive-component.overarching-content.textAlignment
                            heading       = byo-landing-page.2x1_responsive-component.overarching-content.heading
                            description   = byo-landing-page.2x1_responsive-component.overarching-content.description
                            ctaLink       = byo-landing-page.2x1_responsive-component.overarching-content.ctaLink
                            ctaTarget     = byo-landing-page.2x1_responsive-component.overarching-content.ctaTarget
                            ctaText       = byo-landing-page.2x1_responsive-component.overarching-content.ctaText
                            cta1Style     = byo-landing-page.2x1_responsive-component.overarching-content.cta1Style
                            cta2Link      = byo-landing-page.2x1_responsive-component.overarching-content.cta2Link
                            cta2Target    = byo-landing-page.2x1_responsive-component.overarching-content.cta2Target
                            cta2Text      = byo-landing-page.2x1_responsive-component.overarching-content.cta2Text
                            cta2Style     = byo-landing-page.2x1_responsive-component.overarching-content.cta2Style
                            noChevron     = byo-landing-page.2x1_responsive-component.overarching-content.noChevron
                            colorLabel    = byo-landing-page.2x1_responsive-component.overarching-content.colorLabel
                            width         = byo-landing-page.2x1_responsive-component.overarching-content.width
                            isTextOverlay = byo-landing-page.2x1_responsive-component.overarching-content.isTextOverlay
                        }}
                    {{/if}}
                </div>

                <div class="splash-item-section">
                    {{#if byo-landing-page.2x1_responsive-component.overarching-content.showSplashImg}}
                        <div class="text-with-image__image splash-image">
                            {{> picture
                                isLazyLoad = byo-landing-page.2x1_responsive-component.overarching-content.splashIsLazyLoad
                                desktopSrc = byo-landing-page.2x1_responsive-component.overarching-content.splashImageSrc
                                mobileSrc  = byo-landing-page.2x1_responsive-component.overarching-content.splashImageSrc
                                altText    = byo-landing-page.2x1_responsive-component.overarching-content.splashImageAlt
                            }}
                        </div>
                    {{/if}}
                </div>
            </div>

            <div class="content-band--2">
                <div
                    class="band-item {{#if parallax.responsive-component-one.showSplashImg}}splash-band-item{{/if}}"
                >
                    {{> text-with-image
                        parallax.responsive-component-one
                    }}
                </div>
                <div
                    class="band-item {{#if parallax.responsive-component-two.showSplashImg}}splash-band-item{{/if}}"
                >
                    {{> text-with-image
                        parallax.responsive-component-two
                    }}
                </div>
            </div>
        </div>
    </div>

</div>
{{!--
<div id="easing">
        <h2>easing?</h2>
        <p>sure.</p>
        <p>let me dim the for this one...</p>
    </div>
    <div id="easing">
        <h2>easing?</h2>
        <p>sure.</p>
        <p>let me dim the for this one...</p>
    </div>
    <div id="easing">
        <h2>easing?</h2>
        <p>sure.</p>
        <p>let me dim the for this one...</p>
    </div>
    <div id="easing">
        <h2>easing?</h2>
        <p>sure.</p>
        <p>let me dim the for this one...</p>
    </div>
    <div id="easing">
        <h2>easing?</h2>
        <p>sure.</p>
        <p>let me dim the for this one...</p>
    </div>

        <div id="easing" data-bottom-top="opacity:0; top:100%; position:absolute"
             data-100-bottom="position:relative;" data-center="opacity:1; top:0%; position:relative" style="background:blue">
            <h2>easing?</h2>
            <p>sure.</p>
            <p>let me dim the for this one...</p>
        </div>
        <div id="easing"  data-bottom-top="opacity:0; top:100%; position:absolute"
             data-100-bottom="position:relative;" data-center="opacity:1; top:0%; position:relative"  style="background:green">
            <h2>easing?</h2>
            <p>sure.</p>
            <p>let me dsdfd im the for this one...</p>
        </div>
        <div id="easing" data-bottom-top="opacity:0; top:100%" data-center="opacity:1; top:0%" >
            <h2>easing?-12345</h2>
            <img src="images/slj.png" alt="">
        </div>
        <div id="easing"  data-bottom-top="opacity:0; top:100%" data-center="opacity:1; top:0%" >
            <h2>easing?-123456</h2>
            <p>sure.</p>
            <p>let me dim the for this one...</p>
        </div>
 --}}
