<article class="video app-js__video">
    <div aria-label="{{video.ariaLabelVideo}}" class="video__container" tabindex="0">
        {{#if video.isYoutube}}
            <iframe
                id="{{video.id}}"
                class="youtube load-lazily"
                title="youtube"
                allowfullscreen="allowfullscreen"
                data-src="https://www.youtube.com/embed/{{video.source}}?border=0&autohide=1&wmode='opaque'&enablejsapi=1&modestbranding=1&hl='en_US'&rel=0&showinfo=0&hd=1&iv_load_policy=3&cc_load_policy=1"
            ></iframe>
        {{else}}
            <div class="hide__desktop-and-above">
                <div class="video__container_image">
                    {{> picture
                        isLazyLoad = false
                        desktopSrc = video.mobileImageSrc
                        altText    = "mobile video overlay"
                    }}
                </div>
                <button type="button"  class="video__container_image_play"
                    aria-label="{{video.ariaLabelPlayBtn}}" >
                    {{> picture
                        isLazyLoad = false
                        desktopSrc = video.playicon
                        mobileSrc  = video.playicon
                        altText    = video.altTextimg
                    }}
                </button>
                <video tabIndex="0" role='button' aria-label="Video" class="video__container_video video has-image autoloop load-lazily"  data-autoloop="true" data-src="{{video.source}}"></video>
            </div>
            <div class="show__desktop-and-above">
                <div class="video__container_image">
                    {{> picture
                        isLazyLoad = false
                        desktopSrc = video.image
                        altText    = "desktop video overlay"
                    }}
                </div>
                <button type="button"  class="video__container_image_play"
                    aria-label="{{video.ariaLabelPlayBtn}}" >
                    {{> picture
                        isLazyLoad = false
                        desktopSrc = video.playicon
                        mobileSrc  = video.playicon
                        altText    = video.altTextimg
                    }}
                </button>
                <video tabIndex="0" role='button' muted aria-label="Video" class="video__container_video video has-image autoloop load-lazily" data-src="{{video.source}}"
                {{#if video.autoplay}} autoplay data-autoplay="true" {{/if}} {{#if video.autoloop}} data-autoloop="true" {{/if}}
                ></video>
            </div>
            <div role="status" data-pausemsg='to pause video' data-playmsg='to play video' data-play='video is played' data-pause='video is paused' class="videostatus" aria-live="polite">
                <p role="status" aria-live="polite" class='video-status-text'></p>
            </div>
        {{/if}}
    </div>
</article>
