<article class="link-list app-js__link-list {{linkList.styleTabClass}}">
    <div class="link-list__container">
        <article class="css-dropdown {{className}}">
            <input type="checkbox" class="css-dropdown__trigger" id="footer-list-item{{type}}--{{id}}" role="link"
                {{#if active}} checked{{/if}}/>
            <h4 class="link-list__container_title">
                <label class="css-dropdown__text-button {{checkboxClassName}}" for="footer-list-item{{type}}--{{id}}">
                    {{#if linkList.titleLink}}
                    <a href="{{linkList.titleLink}}">{{linkList.title}}</a>
                    {{else}} {{linkList.title}} {{/if}}
                    <span class="css-dropdown__arrow icon-Down"></span>
                </label>
            </h4>

            <div class="css-dropdown__content">
                {{#if linkList.links}}
                <ul class="">
                    {{#each linkList.links}}
                    <li class="link-list__container_links" data-nav-non-ecom="{{isNonEcom}}">
                        {{#if isPhoneNumber}}
                        <a href="tel: {{Number}}" class="cta {{#if className}}{{className}} {{/if}}" tabindex="0"
                            data-interaction-context="" data-interaction-type="phone"
                            data-interaction-name={{Number}}>
                            <span class="cta-content">
                                <span class="cta-text" tabIndex="-1">{{label}} {{Number}}</span>
                            </span>
                        </a>
                        {{else}}
                        <tiffany-footer-flyout
                            {{#if isFlyout}}is-flyout-cta {{/if}}
                            cta-label="{{label}}"
                            {{#if className}}custom-class="{{className}}" {{/if}}
                            {{#if newTab}}cta-target {{/if}}
                            cta-url="{{url}}"
                            {{#if siteId}} cta-site-id={{siteId}} {{/if}}
                            navname="latest"
                            navtype="link"
                            closeIconAriaLabel="Close icon"
                            leftArrowAriaLabel="Left arrow icon"
                        />
                        <a href="{{url}}" data-redirect-url="{{salesServiceRedirectUrl}}" class="cta {{#if className}}{{className}} {{/if}}" tabindex="0"
                            {{#if newTab}} target="_blank" {{/if}} {{#if siteId}} data-site-id="{{siteId}}" {{/if}}>
                            <span class="cta-content hover-cta">
                                <span class="cta-text" tabIndex="-1">{{label}}</span>
                            </span>
                        </a>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
        </article>
    </div>
</article>
