<article class="choose-country app-js__choose-country hide">
    {{#with choose-country}}
        <div class="choose-country__banner">
            <p class="message-container">
                {{message}}
            </p>
            <div class="action-container">
                <a class="cta shop-at-us" data-site-id="1" tabindex="0" href="{{usSiteUrl}}" target="{{usSiteTarget}}">
                    <span class="cta-content">
                        <span class="cta-text" tabindex="-1">
                            {{shopAtLabel}}
                        </span>
                    </span>
                </a>
                <span class="or-label"> {{orLabel}} </span>
                <div class="choose-region" id="choose-country-label" role="button" tabindex="0" aria-expanded="false">
                    {{selectedRegion}}
                    <span class="css-dropdown__arrow icon-Dropdown choose-region-arrow" aria-label="choose region arrow"></span>
                </label>
            </div>
        </div>
        <div class="choose-country__container">
            <input type="checkbox" class="css-dropdown__trigger" id="choose-country" role="link" {{#if active}}checked{{/if}}/>
            <div class="css-dropdown__content choose-country__content">
                {{#each regions}}
                    <div class="choose-country__bottom-wrapper">
                        {{> link-list linkList = this id=@index type="choose-region" }}
                    </div>
                {{/each}}
            </div>
            <button type="button" class="choose-country--close btn" aria-label="choose country banner close">
                <img src="./icons/close.svg" alt="Close image" />
            </button>
        </div>
    {{/with}}
</article>
