<article class="faq-answers app-js__faq-answers">
    <div class="faq-answers__container">
        <h2 class="faq-answers__container_title">{{title}}</h2>
        <button type="button" aria-label="search button" class="footer-policies__search-icon icon-Search"></button>
        <div class="backTofaq-container">
            <a href="{{back-URL}}" class="backTofaq-container-main"">
                <span class="icon-Left"></span>
                <span class="cta backTofaq-link">{{back-to-faq}}</span>
            </a>
        </div>
        <div class="faq-answers__container_main">
            <span class="faq-answers__container_main_question">
                {{question}}
            </span>
            <span class="faq-answers__container_main_answer tiffany-rte">
                {{answer}}
            </span>
        </div>
</article>