<article class="text-with-image app-js__text-with-image {{#is isTextTop "true"}}text-top{{/is}} {{#if isLogo}}logo{{/if}} {{#if haveDesktopPadding}}desktop-padding{{/if}} {{#if haveMobilePadding}}mobile-padding{{/if}}">
    {{#is isTextTop "true"}}
        {{#if ../showSplashImg}}
            <div class="text-with-image__image splash-image">
                {{> picture
                    isLazyLoad = splashIsLazyLoad
                    desktopSrc = splashImageSrc
                    mobileSrc  = splashImageSrc
                    altText    = splashImageAlt
                }}
            </div>
        {{/if}}

        <div class="text-with-image__text">
            {{> content-tile
                isBrowseGrid  = isBrowseGrid
                textAlignment = textAlignment
                heading       = heading
                description   = description
                ctaLink       = ctaLink
                ctaTarget     = ctaTarget
                ctaText       = ctaText
                leftPos       = leftPos
                topPos        = topPos
                isHeroBanner  = isHeroBanner
                cta1Style     = cta1Style
                cta2Link      = cta2Link
                cta2Target    = cta2Target
                cta2Text      = cta2Text
                cta2Style     = cta2Style
                isTextOverlay = isTextOverlay
                isMobileTextOverlay = isMobileTextOverlay
            }}
        </div>

        <div class="text-with-image__image">
            <a href="#CtaLink1" aria-label="{{ariaLabel}}">
                {{> picture
                    isLazyLoad = isLazyLoad
                    desktopSrc = imageSrc
                    mobileSrc  = imageSrc
                    altText    = imageAlt
                    foreGroundmobileSrc  = foreGroundmobileSrc
                    foreGroundImgDesktopLeftPos = foreGroundImgDesktopLeftPos
                    foreGroundImgDesktopTopPos  =  foreGroundImgDesktopTopPos
                    foreGroundImgMobileLeftPos  = foreGroundImgMobileLeftPos
                    foreGroundImgMobileTopPos   =  foreGroundImgMobileTopPos
                }}
            </a>
        </div>
    {{/is}}
    {{#isnt isTextTop "true"}}

        {{#if ../showSplashImg}}
            <div class="text-with-image__image splash-image">
                {{> picture
                    isLazyLoad = splashIsLazyLoad
                    desktopSrc = splashImageSrc
                    mobileSrc  = splashImageSrc
                    altText    = splashImageAlt
                }}
            </div>
        {{/if}}

        <div class="text-with-image__image">
            <a href="#ctaLink1" target="{{ctaTarget}}" aria-label="{{ariaLabel}}">
                {{> picture
                    isLazyLoad = isLazyLoad
                    desktopSrc = imageSrc
                    mobileSrc  = imageSrc
                    altText    = imageAlt
                    foreGroundmobileSrc  = foreGroundmobileSrc
                    foreGroundImgDesktopLeftPos = foreGroundImgDesktopLeftPos
                    foreGroundImgDesktopTopPos  =  foreGroundImgDesktopTopPos
                    foreGroundImgMobileLeftPos  = foreGroundImgMobileLeftPos
                    foreGroundImgMobileTopPos   =  foreGroundImgMobileTopPos
                }}
            </a>

            {{#if ../isLogo}}
                <div class="text-with-image__image_logo">
                    <a class="text-with-image__image_logo_link" href={{../logoRedirect}}>
                        {{> picture }}
                    </a>
                </div>
            {{/if}}
        </div>
        {{#if isTextOverlay}}
            <div class="text-with-image__text text-on-image {{#isnt insetPosition "false"}} {{insetPosition}}{{/isnt}} 
            {{#if noDescription}}noDescription{{/if}}
            {{#if headerFont32}}header32{{/if}}">
                {{> content-tile
                    textAlignment = textAlignment
                    heading       = heading
                    description   = description
                    ctaLink       = ctaLink
                    ctaTarget     = ctaTarget
                    ctaText       = ctaText
                    leftPos       = leftPos
                    topPos        = topPos
                    isHeroBanner  = isHeroBanner
                    cta1Style     = cta1Style
                    cta2Link      = cta2Link
                    cta2Target    = cta2Target
                    cta2Text      = cta2Text
                    cta2Style     = cta2Style
                    isTextOverlay = isTextOverlay
                    colorLabel    = colorLabel
                    width         = width
                    isMobileTextOverlay = isMobileTextOverlay
                }}
            </div>
        {{/if}}

        {{#unless isTextOverlay}}
            {{#if isFiftyFiftyInsetText}}
                <div class="text-with-image__text {{#if isFiftyFiftyInsetText}} {{fiftyFiftyInsetPosition}}{{/if}}">
                    <div class="{{#is isFiftyFiftyInsetText "true"}}content-tile-content{{/is}}">
                        {{> content-tile
                            textAlignment = textAlignment
                            heading       = heading
                            description   = description
                            ctaLink       = ctaLink
                            ctaTarget     = ctaTarget
                            ctaText       = ctaText
                            leftPos       = leftPos
                            topPos        = topPos
                            isHeroBanner  = isHeroBanner
                            cta1Style     = cta1Style
                            cta2Link      = cta2Link
                            cta2Target    = cta2Target
                            cta2Text      = cta2Text
                            cta2Style     = cta2Style
                            isTextOverlay = isTextOverlay
                            hasBorderTop  = hasBorderTop
                            width         = width
                            isMobileTextOverlay = isMobileTextOverlay
                        }}
                    </div>
                </div>
            {{else}}
                <div class="text-with-image__text {{#if insetPosition}} {{insetPosition}}{{/if}}">
                    {{> content-tile
                        textAlignment = textAlignment
                        heading       = heading
                        description   = description
                        ctaLink       = ctaLink
                        ctaTarget     = ctaTarget
                        ctaText       = ctaText
                        leftPos       = leftPos
                        topPos        = topPos
                        isHeroBanner  = isHeroBanner
                        cta1Style     = cta1Style
                        cta2Link      = cta2Link
                        cta2Target    = cta2Target
                        cta2Text      = cta2Text
                        cta2Style     = cta2Style
                        isTextOverlay = isTextOverlay
                        hasBorderTop  = hasBorderTop
                        width         = width
                        isMobileTextOverlay = isMobileTextOverlay
                    }}
                </div>
            {{/if}}
        {{/unless}}

    {{/isnt}}
</article>
