<article class="hero-component app-js__hero-component container {{#if largePadding}}padding-bottom-56 {{/if}} {{#if mediumPadding}}padding-bottom-16 {{/if}} {{#if smallPadding}}no-padding-bottom {{/if}}" data-marketing-carousel="true" data-autoplay="{{autoPlay}}" data-autoplayspeed={{autoPlayInterval}} data-slidetoshow="1">
    {{#each carousel-slides}}
        <div class="hero-banner container">
            {{#if isForeGroundImage}}
                <div class="foreground-image {{#if isTransperantForeground}}blend-mode{{/if}}" data-pos-left="{{foreGroundImgDesktopLeftPos}}" data-pos-top="{{foreGroundImgDesktopTopPos}}" data-mobile-pos-left="{{foreGroundImgMobileLeftPos}}" data-mobile-pos-top="{{foreGroundImgMobileTopPos}}">
                    {{> picture
                        desktopSrc = foreGroundImgSrc
                        mobileSrc  = foreGroundmobileSrc
                    }}
                </div>
            {{/if}}

            <div class="text-with-image">
                <div class="text-with-image__image">

                         {{#if customVideo}}
                            {{> video video = customVideo autoplay = "autoplay"  data-autoloop= "false" }}
                         {{else}}
                            <a href="#ctaLink1" target="">
                                {{> picture
                                    isLazyLoad = isLazyLoad
                                    desktopSrc = imageSrc
                                    mobileSrc  = imageSrc
                                    altText    = imageAlt
                                }}
                            </a>
                        {{/if}}
                </div>

                <div class="text-with-image__text {{#if insetPosition}} {{insetPosition}}{{/if}}">
                    {{> content-tile
                        textAlignment = textAlignment
                        heading       = heading
                        description   = description
                        ctaLink       = ctaLink
                        ctaTarget     = ctaTarget
                        ctaText       = ctaText
                        leftPos       = leftPos
                        topPos        = topPos
                        isHeroBanner  = isHeroBanner
                        cta1Style     = cta1Style
                        cta1Video     = cta1Video
                        cta1VideoTitle = cta1VideoTitle
                        cta2Video     = cta2Video
                        cta2VideoTitle = cta2VideoTitle
                        cta2Link      = cta2Link
                        cta2Target    = cta2Target
                        cta2Text      = cta2Text
                        cta2Style     = cta2Style
                        isTextOverlay = isTextOverlay
                        hasBorderTop  = hasBorderTop
                        width         = width
                        colorLabel    = colorLabel
                        closeVideoLabel = closeVideoLabel
                    }}
                </div>
            </div>
        </div>
    {{/each}}
</article>
