<article class="store-list app-js__store-list container">
    {{#each states}}
        <div class="store-list__state-list-container" data-stateid="{{stateId}}">
            <h2 class="store-list__heading">
                {{heading}}
            </h2>
            <div class="store-list__state-store-list">
                {{#each list}}
                    <div class="store-list__store-item">
                        <h5 class="store-list__store-item-heading">
                            {{storeName}}
                        </h5>
                        <p class="store-list__store-item-content">
                            {{address}}
                        </p>
                        <p class="store-list__store-item-phonenumber">
                            {{phoneNumber}}
                        </p>
                        <a href="mailto:{email}" class="store-list__store-item-email cta-underline" tabindex="0">
                            <span class="cta-content">
                                <span class="cta-text" tabindex="-1">
                                Email Store
                                </span>
                            </span>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
    {{!-- Testing  open mini PDP --}}
    <div>
        {{!-- <tiffany-mini-pdp-cta sku-id="25508335" group-id="GRP02985" cta-text="Modifier Group"></tiffany-mini-pdp-cta>
        <button type="button" class="open_pdp">Open mini PDP</button>
        <tiffany-mini-pdp-cta sku-id="60558981" cta-text="Normal sku"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="25508335" group-id="GRP09915" cta-text="Group type 2"></tiffany-mini-pdp-cta> --}}

        <tiffany-mini-pdp-cta sku-id="60558981" group-id="" cta-text="Normal Sku"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="25508335" group-id="GRP02985" cta-text="Modifier Group"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="25508335" group-id="GRP09915" cta-text="Group type 2"></tiffany-mini-pdp-cta>
        
        <tiffany-mini-pdp-cta sku-id="28358466" group-id="GRP05826" cta-text="Zodiac - GRP05826"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="10634067" group-id="GRP00330" cta-text="Alphabet - GRP00330"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="60883726" group-id="GRP09771" cta-text="Swatch - GRP09771"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="21921386" group-id="GRP09710" cta-text="Engraving products - GRP09710"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="61237283" group-id="GRP10134" cta-text="Engraving products - GRP10134"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="33865872" group-id="GRP07772" cta-text="Engraving products - GRP07772"></tiffany-mini-pdp-cta>
        
        <h4> BR </h4>
        <tiffany-mini-pdp-cta sku-id="60559406" group-id="" cta-text="60559406"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="21300896" group-id="GRP00458" cta-text="GRP00458"></tiffany-mini-pdp-cta>
        
        <h4> UK </h4>
        <tiffany-mini-pdp-cta sku-id="60558981" group-id="" cta-text="60558981"></tiffany-mini-pdp-cta>
        <tiffany-mini-pdp-cta sku-id="25508335" group-id="GRP02985" cta-text="GRP02985"></tiffany-mini-pdp-cta>

        <tiffany-mini-pdp-modal></tiffany-mini-pdp-modal>

        <button type="button" class="open_pdp cta">Open mini PDP</button>
    </div>
</article>
